@import 'compass/reset';
@import 'lib/normalize';
@import 'lib/skeleton';

// Insert beautiful style here.
body {
  color: #666;
  h2 {
    color: #222;
  }
  div.container {
    margin-top: 100px;
    #editor {
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      height: 300px;
      position: relative;
      width: 100%;
    }
    .right-col {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      bottom: 0;
      height: 300px;
      position: relative;
      right: 0;
      top: 0;
      width: 100%;

      #validation {
        height: 70%;
        overflow: scroll;
        pre {
          font-size: 10px;
        }
      }
      #message {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        bottom: 0;
        font-size: 12px;
        height: 30%;
        position: absolute;
        width: 100%;
      }
    }
  }
}
